/* general css */
body {
    /* padding-top: 70px; */ /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.container {
  width: 95%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

/* index.html css */
#text-muted-footer{
	float:none;
	margin: auto;
	text-align: center;
}

/* bestpath.html css */
#advanced-option-link{
  float:right;
  margin-top: -40px;
}
