<!-- This div contains the view of the best path, which will be calculated after the user selects the source and the destination -->
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<div ng-controller="BestPathCtrl">
				{{ welcomeMessage }}
			</div>
			<form>
				<div class="form-group">
					<label for="formGroupExampleInput">Source Path:</label>
					<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input" required>
				</div>
				<div class="form-group">
					<label for="formGroupExampleInput2">Destination Path:</label>
					<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input" required>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
			<a id="advanced-option-link" href="#">Advanced Options</a>
			<h1>Markers simple example</h1>
		    <p>Source marker position (lat/lng): <strong ng-bind="markers.src.lat"></strong> / <strong ng-bind="markers.src.lng"></strong></p>
			<p>Destination marker position (lat/lng): <strong ng-bind="markers.dst.lat"></strong> / <strong ng-bind="markers.dst.lng"></strong></p>
		    </p>
			<h2> Table of the stops </h2>
			<table class="table">
				<thead>
					<td>Linea</td>
					<td>Descrizione</td>
				</thead>
				<tbody>
					<!-- Here should be filled with the values of all the stops of the path selected -->
				</tbody>
			</table>
		</div>
		<button type="button" class="btn btn-primary padright" ng-click="markers.m1.icon=icon" ng-repeat="(key, icon) in icons">{{ key }}</button>
		<div class="col-sm-6">
			<leaflet id="map-custom-marker" markers="markers" center="center" event-broadcast="events" height="480px"></leaflet>

		</div>
	</div>
</div>
