<!-- This div contains the view of the best path, which will be calculated after the user selects the source and the destination -->
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<form>

				<div class="form-group">
					<label for="formGroupExampleInput">Source Path:</label></br>
					<label for="formGroupExampleInputA"> Latitude: </label>
					<input ng-model="markers[0].lat" type="number" step="0.0001" class="form-control" id="formGroupExampleInputA" placeholder="Src Latitude"  required/>
					<label for="formGroupExampleInputB"> Lon: </label>
					<input ng-model="markers[0].lng" type="number" step="0.0001" class="form-control" id="formGroupExampleInputB" placeholder="Src Longitude"  required/>
				</div>

				<div class="form-group">
					<label for="formGroupExampleInput2">Destination Path:</label></br>
					<label for="formGroupExampleInput2A"> Lat: </label>
					<input ng-model="markers[1].lat" type="number" step="0.0001" class="form-control" id="formGroupExampleInput2A" placeholder="Dst Latitude" required>
					<label for="formGroupExampleInput2B"> Lng: </label>
					<input ng-model="markers[1].lng" type="number" step="0.0001" class="form-control" id="formGroupExampleInput2B" placeholder="Dst Longitude" required>
				</div>

				<div class="form-group" id="button-form-group">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="button" class="btn btn-primary" ng-click="removeMarkers()" >Remove</button>
				</div>

			</form>

			<a id="advanced-option-link" href="#">Advanced Options</a>

			<h2> Table of the stops </h2>
			<table class="table">
				<thead>
					<td>Linea</td>
					<td>Descrizione</td>
				</thead>
				<tbody>
					<!-- Here should be filled with the values of all the stops of the path selected -->
				</tbody>
			</table>
		</div>
		<div class="col-sm-6">
			<leaflet markers="markers" center="center" event-broadcast="events" height="480px"></leaflet>	
		</div>
	</div>
</div>
