<!-- -->
<div class="container">
    <div class="col-sm-12">
        <div class="input-group">
            <input ng-model="ctrl.searchText" ng-change="ctrl.showResult()" type="text" class="form-control" placeholder="Search a line...">
            <span class="input-group-btn">
                <button class="btn btn-secondary" ng-click="ctrl.showAll()" type="button">Show all</button>
            </span>
        </div>

        <table class="table" ng-if="ctrl.showList">
            <thead>
                <td>Linea</td>
                <td>Descrizione</td>
            </thead>
            <tbody>
                <tr ng-repeat="line in ctrl.lines | filter : {line: ctrl.searchText}">
                    <td>{{line.line}}</td>
                    <td><a ui-sref="busLines.line({lineId: '{{line.line}}' })">{{line.desc}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <div ui-view></div>
    </div>
</div>